.Rproj.user
inst/doc
.Rhistory
.Rapp.history
.RData
.Rdata
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
gitdevr.Rcheck/
gitdevr*.tar.gz
gitdevr*.tgz
CRAN-SUBMISSION
cran-comments.md
.github/pkg.lock
docs/
.DS_Store
.quarto
Rplots.pdf
/.quarto/
**/*.quarto_ipynb
**/.quarto/
